button {
  padding: 10px 20px;
  border: none;
  margin: 10px;
  border-radius: 5px;
}

.btn-normal {
  background-color: #3498db;
  color: white;
  cursor: crosshair;
}

.btn-outline {
  border: 2px solid #3498db;
  background: transparent;
  color: #3498db;
  cursor: pointer;
}

.btn-alert:hover {
  transform: scale(1.1);
  cursor: help;
}