html {
    font-family: system-ui;
}

#container {
    display: grid;
    place-items: center;
    padding: 5em;
    margin: 10em;
    box-shadow: 1px 2px 3px 4px rgb(10, 10, 10, 0.4);
}

p::first-line {
    font-style: oblique;
}

h1::first-letter {
    font-size: 3em;
}

h1::after {
    content: " (and going)";
}

h1::before {
    content: "Por el ";
}

::marker {
    content: "~ ";
    color: pink;
    font-size: 25px;
}

::selection {
    color: white;
    background: #000;
}