html {
  font-family: system-ui, sans-serif;
}

div {
  width: 200px;
  height: 150px;
  margin: 20px;
  text-align: center;
}

div.float {
  background-color: lightblue;
}

div.clear {
  background-color: coral;
}

.float {
  float: left;
}

.clear {
  clear: both;
}