:root {
  --primary-blue: #074167;
  --dark-blue: #143548;
  --background-light: #ffebd9;
  --hover-light: #CCB299;
}

* {
  font-family: 'Montserrat';
  font-weight: light;
  font-weight: 300;
}

h1 {
  box-shadow: 8px 4px 6px --hover-light;
}

header ul.menu li a:hover,
footer div.footer-copy div.social-icons a:hover,
footer div.footer-menu div a:hover {
  color: var(--hover-light);
  cursor: pointer;
}