/*
*********************
ESTILOS OBLIGATORIOS
*********************
*/
:root {
  --primary-blue: #074167;
  --dark-blue: #143548;
  --background-light: #ffebd9;
  --hover-light: #CCB299;
}

* {
  font-family: 'Montserrat';
  font-weight: light;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

h1 {
  box-shadow: 8px 4px 6px --hover-light;
}

header ul.menu li a:hover,
footer div.footer-copy div.social-icons a:hover,
footer div.footer-menu div a:hover {
  color: var(--hover-light);
  cursor: pointer;
}

header .search input {
  border-radius: 4px;
  height: 2em;
  transition: 0.25 ease-in-out;

}

header .search input:hover {
  transform: scale(1.1);
}

header .logo a img {
  transition: 0.25s ease-in-out;
}

header .logo:hover a img {
  transform: rotate(360deg);
}

/*
*******************
ESTILOS PERSONALES
*******************
*/

header {
  background-color: var(--dark-blue);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em;

  nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    ul.menu {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      justify-content: space-between;

      li a {
        text-decoration: none;
        color: white;
        padding-right: 1em;
      }
    }
  }

  .search {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    button {
      background: none;
      border: none;
      margin: 0 1em;
      color: white;
      font-size: larger;
      transition: 0.25s ease-in-out;

      :hover {
        transform: scale(1.3);
        color: var(--hover-light);
        cursor: pointer;
      }
    }

    /* Girar la lupa */
    button:nth-child(2) {
      transform: rotate(90deg);
    }
  }
}

/* @media screen and (min-width: 600px) {
  header .search button:last-child {
    display: none;
  }
} */


.cta-container {
  background-image: url(gato-fondo-e1701355048196.jpg);
  background-size: cover;
  background-attachment: fixed;
}

footer {
  background-color: var(--dark-blue);
}