* {
  font-family: Arial, sans-serif;
}

.menu {
  width: 140px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ffc83d;
}

.menu li:not(:last-child) {
  border-bottom: 1px solid #ffc83d;
}

.menu li a {
  width: 100%;
  padding: 5px;

  text-align: center;
  text-decoration: none;

  color: #333;
  background-color: #e5f3fe;
}

.menu li a::before {
  content: '👉';
}

.menud li a:hover {
  background-color: #c8e2f7;
}