div {
    width: 350px;
    border: 2px solid rgb(105, 206, 240);
}

ol {
    list-style-position: inside;
    text-align: left;
}

li {
    font-weight: bold;
}

li:nth-child(1) {
    font-size: xx-small;
}

li:nth-child(2) {
    font-size: x-small;
}

li:nth-child(3) {
    font-size: small;
}

li:nth-child(4) {
    font-size: medium;
}

li:nth-child(5) {
    font-size: large;
}

li:nth-child(6) {
    font-size: x-large;
    position: relative;
}

li:nth-child(6)::before {
    content: "_ ";
    position: relative;
    top: 15px;
}

.extra-small {
    padding-left: 15px;
}

.small {
    padding-left: 13px;
}

.medium {
    padding-left: 9px;
}

.large {
    padding-left: 4px;
}