.borde {
    border: 1px solid blue;
}

* {
    font-weight: bold;
}

/*
A cada item le aplicas estilos que hereda cada span
*/

.span6::before {
    content: " _";
    font-size: 20px;
    font-weight: normal;

    /* Sin esto no funciona la propiedad "top" */
    position: relative;
    top: 25px;
}