* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a475c;
}

.contenedor {
  margin: 1em 10em;
}

nav {
  margin: 0;
  padding: 0;
  overflow: auto;
  background: white;

  ul {
    list-style: none;
  }
}

nav a {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: white;
  padding: 15px 5px;
}

nav li {
  float: left;
}

nav a:hover {
  color: white;
  background-color: black;
}

.main {
  background: white;
  float: left;
  width: 75%;
}

.imagen img {
  width: 100%;
}

.posts {
  padding: 2em 3em;

  h2,
  p {
    margin-bottom: 0.5em;
    line-height: 1.8;
  }
}

aside {
  float: right;
  width: 25%;
  background-color: #171e26;
}

.widget {
  padding: 1em;
  line-height: 1.2;

  .titulo {
    color: #ca7920;
    border-bottom: 1px solid #ca7920;
  }

  li {
    list-style: none;
    margin-top: 10px;
    border-bottom: 1px solid #252e34;
    padding-top: 0.250em;
    padding-bottom: 0.500em;

    a {
      text-decoration: none;
      color: white;
    }
  }

  li a:hover {
    color: #8f8f89;
  }

  p {
    color: white;
    line-height: 1.5;
    margin-top: 1em;
  }
}

footer {
  width: 75%;
  clear: both;
  color: white;
  background: black;
}

footer p {
  padding: 15px 0;
  text-align: center;
}