p {
    font-weight: bold;
    font-size: 20px;
}

p,
img {
    display: flex;
    justify-content: flex-start;
}

@media screen {

    img {
        display: block;
        margin: auto;
    }
}

@media print {

    header,
    footer,
    nav,
    aside {
        display: none;
    }
}