* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

:root {
  --titulo-naranja: #dd820d;
  --texto-gris: #5a5a5a;
  --varios-azul: #3895EA;
  --titulo-trabajos: #323068;
  --subtitulo-gris: #636363;
  --fotos-fondo: #f2f2f2;
  --form-border: #cecece;
  --enviar-hover: #387bea;
  --footer: #1e2b38;

  /* Color :hover RRSS */
  --twitter: #55acee;
  --facebook: #3b5998;
  --youtube: #cd201f;
  --github: #666666;
  --instagram: #3f729b;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 34px;
}

.descripcion p {
  font-size: 14px;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  border-bottom: 2px solid white;
}

/* ====================================================== *\
 * RESPONSIVE LAYOUT: MOBILE CONFIGURATION                *
 * Viewport Range: under 500px                            *
 * Breakpoint Strategy: Mobile first                      *
\* ====================================================== */

header {
  background: url(img/bg.jpg) var(--varios-azul);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  .contenedor {
    display: flex;
    flex-flow: column wrap;

    .menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 6em;

      a {
        color: white;
        font-weight: 500;
        padding-bottom: 0.5em;
      }
    }

    .contenedor-texto {
      display: flex;
      justify-content: space-around;

      .texto {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 3px;
        width: 75%;
        margin-top: 9em;

        .nombre,
        .profesion {
          font-weight: 300;
          color: white;
        }
      }
    }
  }
}

main {
  section.acerca-de {
    height: 40vh;

    .contenedor {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      align-items: center;

      .foto {
        position: relative;

        /* LOOK esto puede cascar al redimensionar */
        top: -3.75em;

        height: 10em;

        img {
          border-radius: 50%;
        }
      }

      .texto {
        width: 70%;
        text-align: center;
        line-height: 1.5;

        h3.titulo {
          color: var(--titulo-naranja);
          font-weight: 300;
          margin-bottom: 1em;
        }

        p span.bold {
          color: var(--varios-azul);
          text-decoration: underline;
        }
      }
    }
  }

  section.trabajos {
    background-color: var(--fotos-fondo);
    padding-bottom: 5em;

    div.contenedor {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      align-content: center;

      h3.titulo {
        color: var(--titulo-trabajos);
        font-weight: 300;
        text-align: center;
        padding: 2em;
      }

      div.contenedor-trabajos {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        div.trabajo {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-content: center;
          width: 40%;
          height: auto;
          margin-bottom: 1em;

          div.thumb {
            display: flex;
            justify-content: center;

            img {
              border-radius: 3px;
              width: 80%;
            }
          }

          div.descripcion {

            p {
              margin: 5px 0 10px 0;
            }

            p.nombre {
              text-align: center;
              color: var(--varios-azul);
            }

            p.categoria {
              text-align: center;
              color: var(--subtitulo-gris);
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-flow: column wrap;

  section.contacto {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 2em;

    h3.titulo {
      color: var(--varios-azul);
      font-weight: 300;
      padding: 2em;
      text-align: center;
    }

    form.formulario {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 1em;

      input,
      textarea {
        height: 2.5em;
        margin: 0.260em;
        border: 1px solid var(--form-border);
        border-radius: 3px;
      }

      input:not(.boton) {
        position: relative;
        width: 48%;
        height: 3em;
        padding: 0.250em 0 0 1em;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border: 1px solid black;
      }

      textarea {
        position: relative;
        width: 100%;
        height: 5em;
        padding: 1em 0 0 1em;

        /* TRICK para que solo se redimensione verticalmente */
        resize: vertical;
      }

      input.boton {
        position: relative;
        left: 37%;
        width: 25%;
        border: none;
        color: white;
        background-color: var(--varios-azul);

        &:hover {
          background-color: var(--enviar-hover);
        }
      }
    }
  }

  section.redes-sociales {
    background-color: var(--footer);
    height: 10em;

    div.contenedor {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      padding-top: 4em;

      a {
        padding: 10px 20px;
        border-radius: 3px;
      }

      a i {
        color: white;
        font-size: 32px;
        width: 30%;
      }

      .twitter:hover {
        background: var(--twitter);
      }

      .facebook:hover {
        background: var(--facebook);
      }

      .youtube:hover {
        background: var(--youtube);
      }

      .github:hover {
        background: var(--github);
      }

      .instagram:hover {
        background: var(--instagram);
      }
    }
  }
}



/* ====================================================== *\
 * RESPONSIVE LAYOUT: TABLET CONFIGURATION                *
 * Viewport Range: from 500px to 800px                    *
\* ====================================================== */

@media screen and (min-width: 501px) {

  footer {
    section.redes-sociales {
      background-color: var(--footer);
      height: 10em;

      div.contenedor {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-top: 4em;

        a {
          padding: 10px 20px;
          border-radius: 3px;
        }

        a i {
          color: white;
          font-size: 32px;
          width: 30%;
        }

        .twitter:hover {
          background: var(--twitter);
        }

        .facebook:hover {
          background: var(--facebook);
        }

        .youtube:hover {
          background: var(--youtube);
        }

        .github:hover {
          background: var(--github);
        }

        .instagram:hover {
          background: var(--instagram);
        }
      }
    }
  }
}


/* ====================================================== *\
 * RESPONSIVE LAYOUT: DESKTOP CONFIGURATION               *
 * Viewport Range: over 800px                             *
\* ====================================================== */

@media screen and (min-width: 801px) {

  main {
    section.trabajos {
      div.contenedor {
        div.contenedor-trabajos {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;

          div.trabajo {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            margin-bottom: 1em;
            width: 25%;

            div.thumb {
              display: flex;
              justify-content: center;

              img {
                border-radius: 3px;
                width: 80%;
              }
            }

            div.descripcion {

              p {
                margin: 5px 0 10px 0;
              }

              p.nombre {
                text-align: center;
                color: var(--varios-azul);
              }

              p.categoria {
                text-align: center;
                color: var(--subtitulo-gris);
              }
            }
          }
        }
      }
    }
  }
}