/* ESTILOS GLOBALES Y RESET */
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* MOBILE FIRST */
body {
  background-color: #4a465b;
}

p {
  line-height: 27px;
}

.contenedor {
  margin: 1em auto auto auto;
  width: 80%;
}

/* NAVEGACIÓN */
nav {
  overflow: auto;
  background: white;

  ul {
    list-style: none;
  }
}

nav a {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: white;
  padding: 15px 5px;
}

nav li {
  float: left;
}

nav a:hover {
  color: white;
  background-color: black;
}

/* SECCIÓN PRINCIPAL */
.main {
  background: white;
  width: 100%;
}

.imagen img {
  width: 100%;
}

/* SECCIÓN CON LOS POSTS */
.posts {
  padding: 2em 3em;

  h2,
  p {
    margin-bottom: 0.5em;
    /*line-height: 1.8;*/
  }
}

/* LATERAL CON ARTICULOS DESTACADOS */
aside {
  width: 100%;
  background-color: #161f26;
}

.widget {
  padding: 1em;
  /*line-height: 1.2;*/

  .titulo {
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
  }

  li {
    list-style: none;
    margin-top: 10px;
    border-bottom: 1px solid #252e34;
    padding-top: 0.250em;
    padding-bottom: 0.500em;

    a {
      text-decoration: none;
      color: white;
    }
  }

  li a:hover {
    color: #8f8f8f;
  }

  p {
    color: white;
    margin-top: 1em;
    /*line-height: 1.5;*/
  }
}

/* PIE DE PÁGINA */
footer {
  clear: both;
  width: 100%;
  color: white;
  background: black;
}

footer p {
  padding: 15px 0;
  text-align: center;
}


/* MEDIA QUERY DESKTOP (pantallas con ancho superior a 800px) */
@media screen and (min-width: 800px) {

  .main {
    float: left;
    width: 75%;
  }

  aside {
    float: right;
    width: 25%;
  }

  footer {
    clear: both;
    width: 75%;
  }
}