html {
  font-family: system-ui;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: green;
}

a:visited {
  color: black;
  font-weight: bold;
}

a:hover {
  color: red;
  text-decoration: underline;
}

li {
  font-style: italic;
}

.class:nth-of-type(odd) {
  color: black;
  text-decoration: underline;
}

.class:nth-of-type(even) {
  color: grey;
}
