:root {
  --body: #f0f0f0;
  --header: #007bff;
  --main: #28a745;
  --ad: #6c757d;
  --footer: #dc3545;
}

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  color: white;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

/*
***********************
* ESTILOS OBLIGATORIOS
***********************

Las instrucciones son las siguientes:
• Utiliza una altura mínima de 100vh para el body.
• Utiliza como mínimo las siguientes propiedades de GRID:
  o grid-template-rows y grid-template-columns
  o unidades fr
  o gap
  o justify-content
*/

body {
  background-color: var(--body);
  height: 100vh;

}

.header-nav {
  background-color: var(--header);
}

.content {
  background-color: var(--main);
}

.aside.ad {
  background-color: var(--ad);
}

.footer {
  background-color: var(--footer);
}



/*
*********************
* Breakpoint < 500px
*********************
*/

body {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  gap: 0.5em;
}

.header-nav {
  grid-area: header;

  justify-items: center;

  .header {
    display: grid;
    justify-items: center;

    .logo {
      font-size: 2em;
      font-weight: bold;
    }
  }

  .nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 0;
  }
}

.content {
  grid-area: content;

  .main {
    margin: 1em;
  }

  .aside {
    display: none;
  }
}

.footer {
  grid-area: footer;
  text-align: center;
}

/*
*********************
* Breakpoint < 800px
*********************
*/

@media screen and (min-width: 500px) {}

/*
*********************
* Breakpoint > 800px
*********************
*/

@media screen and (min-width: 800px) {}