* {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

nav {
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
  }
}

nav a {
  display: block;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px 5px;
  border-right: 1px solid #336699;
}

nav li {
  float: left;
}

a:hover {
  background-color: #336699;
}

nav ul:last-child {
  border: none;
}