html {
  font-family: system-ui, sans-serif;
}

body {
  display: block;
  margin: 10em;
}

p {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 4px rgb(20, 20, 20, 0.4);
}

/* [attr] */
p[title] {
  color: white;
  background-color: blue;
}

/* [attr=value] */
p[class=titulo2] {
  color: white;
  background-color: red;
}

/* [attr~=value] */
p[class~=titulo-negrita] {
  color: white;
  background-color: green;
}


/* [attr|=value] */
p[class|=pipe] {
  color: black;
  background-color: yellow;
}

/* [attr$=value] */
p[class$=dolar] {
  color: black;
  background-color: orange;
}

/* [attr^=value] */
p[class^=caret] {
  color: white;
  background-color: purple;
}


/* [attr*=value] */
p[class*=asterisco] {
  color: black;
  background-color: slategray;
}