/*
******************
REQUISITOS MÍNIMOS
******************
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 400;
  color: black;
}

/* imagen con fondo estatico que no se mueve al scrollear */
body {
  background: black url(./imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* links de la cabecera */
header nav a {
  text-decoration: none;
  color: white;
}

header nav a:hover {
  text-decoration: underline;
}

/* colores */
:root {
  --fondo-aside: #537dca;
  --fondo-ads: #4264a2;
  --fondo-footer: rgba(255, 255, 255, .2);
}


/*
***************
VERSIÓN DESKTOP
***************
*/

header {
  background-color: var(--fondo-footer);
}

main {
  background-color: white;
  /* margin-top: 3em; */
}

aside {
  background-color: var(--fondo-aside);
}

aside .ad p {
  background-color: var(--fondo-ads);
  color: white;
}

footer {
  background-color: var(--fondo-footer);
}

.contenedor {
  display: flex;
  flex-flow: row wrap;
  padding: 3em 8em 2em;
  gap: 1em 0em;
}

header {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  justify-content: space-between;
}

header .logo {
  display: flex;
  flex-direction: row;
  height: 100%;
}

header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}

main {
  flex: 2;
  padding: 1em;
}

main img {
  width: 100%;
}

main article p {
  line-height: 1.6;
}

aside {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex: 1;
  padding: 1em;
}

aside .ad p {
  margin: 0;
  height: 8em;
  font-size: larger;
  text-align: center;
}

footer {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  justify-content: space-between;
}

footer div {
  flex-flow: row wrap;
  align-content: center;
}

footer div * {
  color: white;
  margin: 1em;
}


/*
************************************
VERSIÓN TABLET
logo + navegacion + footer centrados
************************************
*/
@media screen and (max-width: 600px) {
  .contenedor {
    flex-flow: column wrap;
    padding: 3em 1em;
  }

  header {
    flex-flow: column wrap;
    background: none;
  }

  header .logo {
    justify-content: center;
    margin: 2em 0;
  }

  header .menu {
    background: var(--fondo-footer);
    width: 100%;
    height: 4em;
  }

  aside {
    flex-flow: row wrap;
  }

  aside .ad {
    width: 40%;
  }

  footer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
  }

  footer .autor {
    order: 2;
  }

  footer .redes-sociales {
    order: 1;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}


/*
***********************************************************
VERSIÓN MÓVIL
El aside desaparece por completo a diferencia del enunciado
***********************************************************
*/
@media screen and (max-width: 400px) {

  aside {
    display: none;
  }


}